<div class="p-10 flex flex-wrap justify-center">
<div *ngFor="let operator of operators" class="m-4 relative px-5 py-4 flex w-60 h-36 flex-col rounded-xl bg-gradient-to-br bg-blue-50 bg-clip-border text-gray-700 shadow-lg hover:shadow-xl transition-all duration-300 hover:-translate-y-1 cursor-pointer hover:bg-[#dbeafe] border border-gray-400 hover:border-[#1e40af]">
  
  <div class="">
    <h5 class="mb-2 block font-sans text-sm font-semibold leading-snug tracking-normal text-gray-900 antialiased group-hover:text-blue-600 transition-colors duration-300">
      {{operator.title}}
    </h5>
    <p
      class="block font-sans text-xs font-light leading-relaxed text-gray-700 antialiased"
    >
      {{operator.content}}
    </p>
    
  </div>
  <div class="w-full h-full flex items-end justify-end">
    <i class="fas fa-arrow-right card-icon"></i>
  </div>
</div>
</div>