<section class="w-full h-screen flex flex-col items-center justify-center">
    <div *ngIf="signinStateForm" class="w-full ssm:max-w-sm h-screen sm:h-auto p-4 rounded-none sm:rounded-lg">
      <div  class="space-y-6" action="#">
          <h5 class="text-xl font-medium text-[#141414]">Sign in to our platform</h5>
          <div>
              <label for="email" class="block mb-2 text-sm font-medium text-[#141414]">Your email</label>
              <input type="email" class="text-[#141414] text-sm rounded-lg outline-none hover:scale-[1.01] duration-300 border-[1px] border-gray-500 focus:border-blue-900 block w-full p-2.5" placeholder="name@company.com" [(ngModel)]="userData.email" required />
          </div>
          <div>
              <label for="password" class="block mb-2 text-sm font-medium text-[#141414]">Your password</label>
              <input type="text"placeholder="••••••••" class=" text-[#141414] text-sm rounded-lg outline-none hover:scale-[1.01] duration-300 border-[1px] border-gray-500 focus:border-blue-900 block w-full p-2.5" [(ngModel)]="userData.password" required />
          </div>
          <div class="flex items-start">
              <div class="flex items-start">
                <div class="flex items-center me-4">
                  <input type="checkbox" class="w-4 h-4">
                  <label class="ms-2 text-sm font-medium text-[#14141470]">Remember me</label>
                </div>
              </div>
              
              <a href="#" class="ms-auto text-sm font-semibold text-blue-800 hover:underline">Forget Password?</a>
          </div>
          <button type="button" (click)="send()" class="w-full text-white  bg-blue-800 hover:scale-[1.01] duration-300 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Login to your account</button>
          <div class="ms-2 text-sm pb-10 font-medium text-[#14141470]">Not registered? <a href="signup" class="text-blue-800 hover:underline">Create Account</a></div>
        </div>
      </div>
      <div *ngIf="signinStateError" class="p-8 rounded-lg shadow-lg flex items-center justify-center text-center w-full h-screen absolute">
        <div class="bg-white p-8 rounded-lg shadow-lg w-[60vh] text-center">
          <h2 class="text-2xl font-semibold text-[#d9534f]">Password Incorrect or Email Not Found</h2>
          <p class="text-[#d9534fa0] mt-4">It seems the email is not registered, or the password entered is incorrect. Please try again or create a new account below.</p>
          <div class="mt-6 flex justify-center gap-4">
            <a (click)="toSignup()" class="cursor-pointer inline-block px-6 py-2 bg-[#d9534f] text-white rounded-lg hover:bg-[#c9302c]">Try Again</a>
            <a href="signup" class="cursor-pointer inline-block px-6 py-2 bg-[#d9534f] text-white rounded-lg hover:bg-[#c9302c]">Create Account</a>
          </div>
        </div>
      </div>
  </section>